html {
  font-family: 'Muli', sans-serif;

}


.banner {
  text-align: center;

}


header a {
  text-decoration: none;
  color: black;
}

.footer-content {
  border-top: solid 1px #163056;
}


.content h2 {
  text-decoration: none;
  color: black;
}

.about {
  border-bottom: solid 1px #163056;
}

h1 {
  color: black;
}


.message {
display: none;
top: -250px;
transition: top 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
overflow: hidden;

}


#toggle {
  position:absolute;
  appearance:none;
  cursor:pointer;
  left:-2em;
  top:-2em;
}

#toggle + label {
  cursor:pointer;
  width: 100px;
  text-align:center;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;

  transition:all 500ms ease;
}

#toggle + label:after {
  content:"about ▼"
}

.container {
transition: margin 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);

}

#toggle:checked ~ .message {
  top: 450px;
  display: block;
}

#toggle:checked ~ .container {
  margin-top: 250px;
}


#toggle:checked + label:after {
  content:"close ▲"
}

.info-card {
  position: relative;
  /*width: 100%;
  height: 100%;*/
}

.content {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  transition: .5s ease;
  overflow: hidden;

}

.info-card:hover .content {
  opacity: 1;

}

.full-line {
  width: 0%;
  height: 1px;
  display: block;
  background: black;
  bottom: 20px;
}

.info span {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.info h2 {
  line-height:20px;
  font-size:15px;
  margin: 0;
}

.project-details {
  overflow: hidden;
  display: block;
  position: absolute;
  bottom: 10px;
  left: 24px;
}


a:visited {
 color: black;
}

li a {
  text-decoration: none;
  color: black;
}

li {
    list-style-type: none;
}

.social {
  width: 33.33%;
  margin:auto;
}





@media only screen and (min-width: 38em) {

}
