html {
  font-family: ltc-caslon-pro, serif;
  color: #1d1d1d;

}

h2 {
  font-family: gill-sans-nova, sans-serif;
  color: #1d1d1d;
  font-weight: 600;

}

.banner {
  text-align: center;

}

p {
  color: #1d1d1d;



}

header a {
  text-decoration: none;
  color: black;
}

.footer-content {
  border-top: solid 1px #0000;
}

.content h2 {
  text-decoration: none;
  color: black;
}




h1 {
  color: #1d1d1d;
  border-bottom: solid 1px #ef3f40;
}


.message {
display: none;
top: -250px;
transition: top 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
overflow: hidden;

}


#toggle {
  position:absolute;
  appearance:none;
  cursor:pointer;
  left:-2em;
  top:-2em;
}

.social:hover {
  color: black;
}

.social {
  color: #ef3f40;

}

#toggle + label {
  cursor:pointer;
  width: 100px;
  text-align:center;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;

  transition:all 200ms ease;
}

#toggle + label:hover {
  color: #ef3f40;
}

#toggle + label:after {
  content:"about ▼"
}

.container {
transition: margin 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);

}

#toggle:checked ~ .message {
  top: 450px;
  display: block;
}

#toggle:checked ~ .container {
  margin-top: 250px;
}


#toggle:checked + label:after {
  content:"close ▲"
}

.info-card {
  position: relative;
  /*width: 100%;
  height: 100%;*/
}

.content {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  transition: .5s ease;
  overflow: hidden;

}

.info-card:hover .content {
  opacity: 1;

}


.full-line {
  width: 0%;
  height: 1px;
  display: block;
  background: #ef3f40;
  bottom: 20px;
  color: #ef3f40;
}

.info span {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.info h2 {
  line-height:20px;
  font-size:15px;
  margin: 0;
}

.project-details {
  overflow: hidden;
  display: block;
  position: absolute;
  bottom: 10px;
  left: 24px;
}


a:visited {
 color: black;
}

li a {
  text-decoration: none;
  color: black;
}

li {
    list-style-type: none;
}


.btn {
  color: black;
}

.btn:hover {
    color: #ef3f40;
  }

.embed-video {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.embed-video iframe,
.embed-video object,
.embed-video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media only screen and (min-width: 38em) {

}
