<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>Marta Anna P</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="{{site.baseurl}}/css/modules.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/grid.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/type.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/main.css" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css?family=Muli|Sacramento" rel="stylesheet" rel="stylesheet">
</head>
<body>

{{content}}

</body>
<footer role="footer" class="wrapper gutter-1-4 island">
  <div class="footer-content">
    <div class="max-length">
      <div class="text-center milli pad-top">
        <ul class="contact">
          <li><a class="btn btn-link push" href="mailto:design@martaannap.com">design@martaannap.com</a></li>
          <li><a class="btn btn-link" href="tel:+16132622819">613-262-2819</a></li>
        </ul>
      </div>
      <div class="social">
        <ul class="grid text-center">
          <li class="unit xs-1-3 instagram">
            <a target="_blank" href="https://www.instagram.com/martaannap/?hl=en" title ="Instagram">
              <i class="icon i-64">
                <svg id="instagram" width="34" height="34" viewBox="0 0 34 34">
                  <style>
                    .st0{fill:000}
                  </style>
                  <path d="M34 26.5a7.4 7.4 0 0 1-7.4 7.4H7.4A7.4 7.4 0 0 1 0 26.5V7.4A7.4 7.4 0 0 1 7.4 0h19.2A7.4 7.4 0 0 1 34 7.4zm-4.7-3.9V11.5a7.2 7.2 0 0 0-7.2-7.2H11.8a7.2 7.2 0 0 0-7.2 7.2v11.1a7.1 7.1 0 0 0 7.2 7.1h10.3a7.1 7.1 0 0 0 7.2-7.1zm-17.5 5.2A5.4 5.4 0 0 1 8 26.3a5.1 5.1 0 0 1-1.5-3.7V11.5A5.1 5.1 0 0 1 8 7.8a5.5 5.5 0 0 1 3.8-1.6h10.3a5.7 5.7 0 0 1 3.8 1.6 5.1 5.1 0 0 1 1.5 3.7v11.1a5.1 5.1 0 0 1-1.5 3.7 5.5 5.5 0 0 1-3.8 1.5zM17 10.1a6.9 6.9 0 0 0 0 13.7 6.9 6.9 0 0 0 0-13.7zm4.4 6.9a4.5 4.5 0 1 1-4.4-4.5 4.4 4.4 0 0 1 4.4 4.5zm2.5-8.6a1.6 1.6 0 1 0 1.6 1.6 1.6 1.6 0 0 0-1.6-1.6z" class="st0"/>
                </svg>
              </i>
            </a>
          </li>
          <li class="unit xs-1-3 linkedin">
            <a target="_blank" href="https://www.linkedin.com/in/marta-anna-pietryga/" title ="Linkedin">
              <i class="icon i-34">
                <svg id="linkedin" width="34" height="34" viewBox="0 0 34 34">
                  <style>
                    .st0{fill:000}
                  </style>
                  <path d="M31.5 0h-29A2.5 2.5 0 0 0 0 2.4v29.1A2.5 2.5 0 0 0 2.5 34h29a2.5 2.5 0 0 0 2.5-2.5V2.4A2.5 2.5 0 0 0 31.5 0zM10.1 29H5V12.7h5.1zM7.6 10.5a2.9 2.9 0 1 1 2.9-2.9 2.9 2.9 0 0 1-2.9 2.9zM29 29h-5.1v-7.9c0-1.9 0-4.3-2.6-4.3s-3 2-3 4.1V29h-5.1V12.7h4.9V15h.1a5.2 5.2 0 0 1 4.7-2.7c5.1 0 6.1 3.4 6.1 7.8z" class="st0"/>
                </svg>
              </i>
            </a>
          </li>
          <li class="unit xs-1-3 vimeo">
            <a target="_blank" href="https://vimeo.com/martaannap" title ="Vimeo">
              <i class="icon i-64">
                <svg id="vimeo" width="34" height="34" viewBox="0 0 34 34">
                  <style>
                    .st0{fill:000}
                  </style>
                  <path d="M27.2 0H6.8A6.7 6.7 0 0 0 0 6.8v20.4A6.7 6.7 0 0 0 6.8 34h20.4a6.7 6.7 0 0 0 6.8-6.8V6.8A6.7 6.7 0 0 0 27.2 0zm2.2 10.2a37.2 37.2 0 0 1-5.6 11.5 20.3 20.3 0 0 1-5.6 5.3c-.8.5-2.5 1.1-3.6.6s-2.9-4.6-3.5-7.1a33.7 33.7 0 0 0-1.2-4.1 14.2 14.2 0 0 0-1-2.9c-.8-1.4-2.1 0-3.4-.2s-.6-.7-1-1v-.2c1.9-1.5 3.5-3.3 5.7-4.6A3.9 3.9 0 0 1 13 7c.9.2 1.6 1.4 1.9 2.4a23.3 23.3 0 0 1 .8 3.6c.3 2 .2 5 1.6 6.5s2.9-.7 3.5-1.9a8 8 0 0 0 1.2-3.1c.2-2.5-.9-2.8-3.1-2.6a8.7 8.7 0 0 1 5.9-5.6h1.1c1.1 0 2.4.2 3 1.1a3.3 3.3 0 0 1 .5 2.8z" class="st0"/>
                </svg>
              </i>
            </a>
          </li>
      </ul>
    </div>
    </div>
  </div>

  </footer>
  <script src="js/index.js"></script>

</html>
