<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>Marta Anna P</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="{{site.baseurl}}/css/site.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Muli|Sacramento" rel="stylesheet" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="shortcut icon" href="favicon.ico"/>
  <!-- Used by Facebook, Pinterest, Google+ -->
  <meta property="og:type" content="article">
  <meta property="og:title" content="{{page.title}}">
  <meta property="og:url" content="https://martaannap.com">
  <meta property="og:image" content="https://martaannap.com/images/martaannap.jpg">
  <meta property="og:site_name" content="Marta Anna P">
  <meta property="og:description" content="{{page.description}}">

  <!-- Used by Facebook, Pinterest, Google+ -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="{{page.title}}">
  <meta name="twitter:url" content="https://martaannap.com">
  <meta name="twitter:description" content="{{page.description}}">
  <meta name="twitter:image" content="https://martaannap.com/images/martaannap.jpg">
  <meta name="google" content="notranslate">
</head>
<body>

{{content}}

</body>
<footer class="wrapper gutter-1-4 island">
  <div class="footer-content">
    <div class="max-length">
      <div class="text-center milli pad-top">
        <ul class="contact">
          <li><a class="btn btn-link push" href="mailto:marta.anna.pietryga@gmail.com">marta.anna.pietryga@gmail.com</a></li>
          <li><a class="btn btn-link" href="tel:+16132622819">613-262-2819</a></li>
        </ul>
      </div>
      <div class="text-center">
        <div class="social">
        <a href="https://www.behance.net/martaannap" target="_blank" aria-label="Behance"><i class="fa fa-behance social"></i></a>
        <a href="https://www.linkedin.com/in/marta-anna-pietryga/" target="_blank" aria-label="LinkedIn"><i class="fa fa-linkedin  social"></i></a>
        <a href="https://vimeo.com/martaannap" target="_blank"><i class="fa fa-vimeo gutter-1-4 social" aria-label="Vimeo"></i></a>
        <a href="https://www.instagram.com/martaannap/?hl=en" target="_blank" aria-label="Instagram"><i class="fa fa-instagram social"></i></a>
      </div>
    </div>

    <div class="unit text-center xs-1 m-1 island-1-2">
        <small class="micro">hand coded by martaannap © 2018</small>
      </div>

    </div>
  </div>

  </footer>
</html>
